@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: black;
}

.header{
  display: flex;
  justify-content: space-between;
}

.header .left-links{
  display: flex;
  gap: 25px;
  max-width: 150px;
  margin: 20px;
}

.header .right-links{
  display: flex;
  gap: 25px;
  margin: 20px;
  max-width: 150px;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

button{
  width: 150px;
  height: 25px;
  padding: 5px;
}

.footer{
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
}

.footer .left-links{
  display: flex;
  gap: 25px;
  max-width: 150px;
  margin: 20px;
}

.footer .right-links{
  display: flex;
  gap: 25px;
  margin: 20px;
  max-width: 150px;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content{
  flex-grow: 1;
}