body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  background: royalblue;
  box-sizing: border-box;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header{
  font-size: x-large;
  font-weight: bolder;
  padding: 20px;
}

.main{
  display: flex;
  flex-grow: 1;
}
.sidebar{
  min-width: 250px;
}

ul{
  text-decoration: none;
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

a{
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.content{
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
  gap: 50px;
}

.card{
  width: 300px;
  text-align: start;
  padding: 20px;
}

.footer{
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px;
}