.firstButton,
.secondButton{
    font-family: Helvetica, "Times New Roman",sans-serif;
    font-size: 28px;
}

.firstButton{
    background-color: black;
    color: white;
}

.secondButton{
    background-color: yellow;
}